{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier", // agrega las reglas de prettier a eslint
    "plugin:prettier/recommended" // agregar el plugin que integra eslint con prettier
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 1, // Means warning
    "prettier/prettier": 2, // Means error
  }
}
